body{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8360c3, #2ebf91);
}

#loginBox{
    height: 15rem;
    width: 20rem;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5%;
    padding-bottom: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.textBox{
    margin: 4rem 0 4rem 0;
}

#loginBox a{
    font-size: x-large;
    color:black;
    text-decoration: none;
}

#loginBox i{
    margin-right: 1rem;
}

.buttonWrap{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 17rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid black;
    background-color: #1DB954;
    border-radius: 50px;
}

.inputPageContainer{
    height: 100vh;
    width: 100vw;
    display:none;
    grid-template-rows: 30px 1fr;
    background: linear-gradient(to right, #8360c3, #2ebf91);
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9198e5;
    border: 1px solid black;
    padding: 0 1rem 0 1rem;
}

.nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav:first-child > span { margin-right: auto; }

.nav:last-child  > span { margin-left: auto;  }

.header a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.inputBox{
    height: 40rem;
    width: clamp(500px,30vw,30vw);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input label{
    display: inline-block;
    width: 10rem;
    margin: 0 3rem 2rem 0;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

form{
    margin: 2rem 0 0 0;
    
}

.buttonWrap a{
    font-size: x-large;
    color:black;
    text-decoration: none;
}

#buttonWrap i{
    margin-right: 1rem;
}

#buttonWrap{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 17rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid black;
    background-color: #1DB954;
    border-radius: 50px;
}

.input input{
    font: inherit;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.input select{
    font: inherit;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    width: 229px;
    background-color: white;
}



.input select:focus{
    border: 2px solid #1DB954;
    
}

.input option{
    
    color: black;
    
    background-color: white;
}

.mainPlaylist{
    
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 4rem;
    margin-top: 4rem;
}

.pastPlaylistContainer{
    height: 100vh;
    width: 100vw;
    display:none;
    grid-template-rows: 30px 1fr;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    overflow: auto;
}

.playlistContainer{
    width: clamp(400px,50vw,60vw);
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 1rem;
    border-radius: 25px;
}

.playlistWrapper{
    display: flex;
    flex-direction: column;
}

.playlist{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 14px;
    width: 400px;
    overflow-y: scroll;
}

.playlist::-webkit-scrollbar{
    display: none;
}

.cover{
    border-radius: 15px;
}

#playlistTitle{
    margin: 4rem 0 0 2rem;
    font-size: 40px;
}

.songs li{
    font-size: 1px;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    transform: translate(-50%,-50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    height: 22rem;
    width: clamp(500px,20vw,30vw);
}

.modalHeader{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modalTitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modalHeader .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modalBody{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#imageLink{
    
    padding: 5px;
    font-weight: bold;
    
}

#imageP{
    font-weight: 800;
}

.formBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}